body{
    margin: 0;
    padding: 0;
   
}

ul {
    list-style-type: none;
    margin-left: 30px;
    float: right;
  
  }

  li{
      display: inline;
    
  }
.half_width{
  width: 40%; 
  margin-top: 10%;
  float: left;
  padding: 10px;
}

.half_width img{
    width: 100%;
    
}
.first{
    color: #363958;
    font-weight: 900;
}
span{
color:#FF7067;
font-weight: 900;
}

section{
    height: 500px;
    padding-bottom: 150px;

}
.text{
    color: lightslategray
}
.btn{
    background-color: #FF7067;;
    padding: 10PX 40px;
    color: papayawhip;
    border-radius: 30px;

}

.about{
    margin:0px  100px;
}
#heading{
 text-align: center;   
}
.projects{
    width:100%;
   
}
.second_width{
  width: 30%;
  margin-top: 10%;
  float: left;
  padding: 10px; 
  height: 30%; 
  box-shadow: 10px 10px 70px gray;
  border-radius:5px;
  
 /* border:1px solid gray; */
}

.second_width img{
 width: 100%;
 

 
}
/* .single_exp{
  
} */


   .shapes{
     
       background-image:url('shapes/Group_33094_1.png');
       width: 60%;
       height: 30%;
       margin-left: 25%;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       border-radius: 10px;
   }

   .tag{
      
      /* margin-top: 20px; */
      text-align: center;
      padding-top: 50px;
   }
   .small{
      margin-left: 70px; 
      text-align: center;
      background-color: #FF7067;;
     padding: 10PX 40px;
     color: papayawhip;
     border-radius: 30px;

   }

   .inquiry{
    
     position: relative; 
   }

   .icon{
    position: absolute;

    left: 50%;
  
    top: 50%;
  
    transform: translate(-50%, -50%);
  
   
     padding: 10px;

   }

   .icon img{
       width: 25px;
   }
 

   input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: rgb(107, 98, 104);
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
